* {
    font-family: 'VT323', monospace;
    cursor: pointer;
}

body {
    background-color: #ebe8e1;
    font-size: 1.5rem;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border: 1px solid black;
    border-bottom: 4px solid black;
    font-size: 1.25rem;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

button:hover {
    animation: pulse 1.25s infinite;
    /*pulsating animation on hover */
}

a {
    color: black;
}

a:hover {
    color: #E93526;
}

/* nav styles--------------------------------------------------------------- */
.navbar {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-item {
    width: calc(100%/3);
}

.icon-container {

    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon {
    height: 1.25rem;
}

/* banner styles--------------------------------------------------------------- */
.name {
    margin: 0;
    font-size: 10rem;
    text-align: center;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
}

.video img {
    width: 70%;
}

.description {
    font-size: 3.125rem;
}

/* episodes styles */
#episodes {
    max-width: 80%;
    margin: 2rem auto;
    color: white;
}

.episode-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: 250px;
    text-align: center;
    padding-top: 7rem;
    color: black;
}

.pill {
    padding: 20px 50px;
    border-radius: 30rem;
}

.round {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
}

.episode-name {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 8.25rem;
    font-weight: 500;
    word-wrap: break-word;
}

.episode-image-container {
    width: 80%;
    margin: 0 auto;
    border-radius: 10%;
}

.episode-image {
    object-fit: cover;
    max-width: 100%;
    border-radius: 100px;
}

.episode-description-container {
    margin: 2rem;
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 0.25px solid rgb(24, 24, 24);
}

.episode-description {
    font-size: 2.5rem;
}

.episode-btn {
    margin: 2rem auto;
    display: block;
    width: 80%;
    padding: 50px;
    border-radius: 30rem;
}

.spotify {
    background-color: rgb(72, 179, 72);
    color: white;
}

.youtube {
    background-color: #E93526;
    color: white;
}

.transcript {
    background-color: #4296fe;
    color: white;
}


/* media query */
@media only screen and (max-width: 600px) {
    .name {
        font-size: 6rem;
    }

    .nav-item {
        width: max-content;
    }

    .episode-description-container {
        grid-template-columns: 1fr;
    }

    .episode-number {
        font-size: 6rem;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .round {
        height: 6rem;
        width: 6rem;
        padding: 20px;
    }

}